*{
  font-family: 'Pretendard Variable';
}

img{
  left: 463px;
  top: 154px;
  position: absolute;
}

#userid{
  position: absolute;
  width: 409px;
  height: 56.18px;
  left: 323px;
  top: 319px;
  transition: border-color 0.3s ease-in-out;
}

#userid:hover{
  cursor: pointer;
}

input:focus{
  border-color: #8e8e8e;
  outline: none;
}

.idinput{
  margin-bottom: 50px;
  width: 409px;
  height: 56.18px;
  left: 323px;
  top: 375.18px;
  background: #FFFFFF;
  border-radius: 10px;
}

.btn{
  position: absolute;
  width: 409px;
  height: 59.13px;
  left: 323px;
  top: 434.83px;
  background: #ADECEC;
  border-radius: 10px;
}